.content{
  width: 320px;

}
.form{
  display: flex;
  flex-direction: column;
  max-width: 320px;
  gap: 10px;
}
.fieldWrapper{
  display: flex;
  align-items: flex-end;
  gap: 10px;
  p{
    margin-bottom: 0;
  }
}
.field{
}