.result{
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}
.line{
  word-break: break-all;
  flex-wrap: wrap;
  position: absolute;
  user-select: text;

  &:first-child{
    top: 0;
  }
  &:last-child{
    top: 24px;
  }

}
.aminoAcid{
  width: 12pt;
  text-align: center;
  position: relative;
  display: inline;
  margin-bottom: 45px;
  vertical-align: bottom; 
  &::after{
    content: "";
    display: inline-block;
    height: 45px;
    width: 0;
  }
}

